/* Navbar */

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
    /* background-color:#373a63 ; */
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .maindiv {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .maindiv:hover {
    background-color: #ddd;
    color: black;
    font-size: 25px;
  }
  
  /* Add a color to the active/current link */
  .maindiv.active {
    background-color: #04AA6D;
    color: white;
  }



  