.links a{
    color: teal;
    font-size: 30px;
    font-weight: bold;
}
.links h2{
    color: grey;
    font-size: 40px;
    font-weight: bold;
}
.links a{
    color: teal;
    font-size: 30px;
    font-weight: bold;
}
.links h2{
    color: grey;
    font-size: 40px;
    font-weight: bold;
}